<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroShop - Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<style>

</style>

<body>
    <nav>
        <a href="#">AgroShop</a>
        <ul>
            <li><a href="entrar">Entrar</a></li>
            <li><a href="cadastrar">Cadastrar</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#serviços">Serviços</a></li>
            <li><a href="#fotos">Fotos</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
    <header id="topo">
        <h1>AgroShop</h1>
        <p>A maneira mais fácil de comprar e vender produtos agrícolas</p>
        <a href="#serviços" class="botao">Ver mais</a>
    </header>

    <section id="sobre">
        <h2>Sobre</h2>
        <p>Com AgroShop é muito mais simples comprar e vender produtos agrícolas</p>
        <a href="#contato" class="botao">Começe Agora</a>
    </section>


    <section id="serviços">
        <h2>Serviços</h2>
        <div>
            <img src="../static/img/icon_buy.png" alt="Carrinho de compra">
            <h3>Compra Simples</h3>
            <p>Encontre e Compre produtos agrícolas com facilidade</p>
        </div>

        <div>
            <img src="../static/img/icon_clock.png" alt="Relógio">
            <h3>Velocidade</h3>
            <p>Com o campo de busca inteligente, você encontra muito mais rápido o que procura</p>
        </div>

        <div>
            <img src="../static/img/icon_heart.png" alt="Coração">
            <h3>Favorite</h3>
            <p>No AgroShop é possível favoritar seus produtos!</p>
        </div>
    </section>

    <section id="fotos">
        <h2>Fotos</h2>
        <img src="../static/img/tea.jpg" alt="Laranjas">
        <img src="../static/img/barley.jpg" alt="Cevadas">
        <img src="../static/img/grapes.jpg" alt="Uvas">
        <img src="../static/img/icon_beetroot.jpg" alt="Árvores">
        <img src="../static/img/icon_potates.jpg" 
        alt="Cenouras">
        <img src="../static/img/apples.jpg" alt="Maçãs">
    </section>

    <section id="contato">
        <h2>Contato</h2>
        <p>Fale Conosco!</p>
        <div>
            <img src="../static/img/icon_whatsapp.png" alt="WhatsApp">
            <p><a href="tel:11123456789"></a>(11)12345-6789</p>
        </div>
        <div>
            <img src="../static/img/icon_gmail.png" alt="E-mail">
            <p><a href="mailto:agroshop@gmail.com"></a>agroshop@gmail.com</p>
        </div>
    </section>

    <footer>
        <a href="#topo">Voltar ao topo</a>
        <p>Desenvolvido por Grupo 21</p>
    </footer>

</body>
</html>