{% extends "base.html" %} {% block title %}Home Produtor{% endblock %} {% block
    content %}
    <form action="/NovoProduto" method="GET">
        <br>
        <h3 align="center">Cadastrar Produto:</h3>
        <br>
        <div class="form-group">
        <h3 align="center"></h3>
        <button 
          align="center"
          type="submit"
          name="buttonCadastro" 
          class="btn btn-primary btn-lg btn-block" 
          value="Pagina Produtor">
          Produtor
        </button>
        </div>
    </form>
    {% endblock %}