<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/sign-up-cliente.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        input[type=text],
        input[type=password],
        input[type=email] {
            width: 25%;
            border: 2px #045c04 solid;
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            box-sizing: border-box;
            transition: .3s;
            font-family: inherit;
            text-align: center;
        }

        input[type=text]:focus,
        input[type=email]:focus,
        input[type=password]:focus {
            border-color: #045c04;
            box-shadow: 0 0 8px 0 #045c04;
        }
    </style>
</head>

<body>
    <nav id="topo">
        <a href="/">AgroShop</a>
        <ul>
            <li><a href="/">Entrar</a></li>
            <li><a href="/cadastrar">Cadastrar</a></li>
            <li><a href="/#sobre">Sobre</a></li>
            <li><a href="/#serviços">Serviços</a></li>
            <li><a href="/#fotos">Fotos</a></li>
            <li><a href="/#contato">Contato</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <form method="POST">
        <h3 align="center">CADASTRAR CLIENTE</h3>
        <div class="form-group">
            <label for="nome">Nome</label>
            <br>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira seu nome" />
        </div>
        <div class="form-group">
            <label for="email">Endereço de email</label>
            <br>
            <input type="email" placeholder="Insira seu email" class="form-control" id="email" name="email" />
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <br>
            <input type="password" class="form-control" id="password" name="senha1" placeholder="Insira sua senha" />
        </div>
        <div class="form-group">
            <label for="password2">Confirme a senha</label>
            <br>
            <input type="password" class="form-control" id="password2" name="senha2" placeholder="Confirmar senha" />
        </div>
        <br />
        <div class="container">
            <button class="btn-1">Criar Conta</button>
        </div>
    </form>
    <section id="contato">
        <h2>Contato</h2>
        <p>Fale Conosco!</p>
        <div>
            <img src="../static/img/icon_whatsapp.png" alt="WhatsApp">
            <p><a href="tel:11123456789"></a>(11)12345-6789</p>
        </div>
        <div>
            <img src="../static/img/icon_gmail.png" alt="E-mail">
            <p><a href="mailto:agroshop@gmail.com"></a>agroshop@gmail.com</p>
        </div>
    </section>

    <footer>
        <a href="#topo">Voltar ao topo</a>
        <p>Desenvolvido por Grupo 21</p>
    </footer>
</body>

</html>