<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/home-cliente.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Tipo de Cadastro</title>
</head>
<style>
</style>

<body>
    <nav id="topo">
        <a href="/">AgroShop</a>
        <ul>
            <li><a href="entrar">Entrar</a></li>
            <li><a href="cadastrar">Cadastrar</a></li>
            <li><a href="/#sobre">Sobre</a></li>
            <li><a href="/#serviços">Serviços</a></li>
            <li><a href="/#fotos">Fotos</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
    <form action="/cadastrar/produtor" method="GET">
        <br>
        <h3 align="center">Tipo de Cadastro:</h3>
        <br>
        <div class="container">
            <button type="submit" name="buttonCadastro" class="btn-1" value="Pagina Produtor">Produtor
            </button>
        </div>
    </form>
    <form action="/cadastrar/cliente" method="GET">
        <br>
        <br>
        <div class="container">
            <button class="btn-1" align="center" type="submit" name="buttonCadastro" value="Pagina Cliente">Cliente
            </button>
        </div>
        <br />
    </form>
    <section id="contato">
        <h2>Contato</h2>
        <p>Fale Conosco!</p>
        <div>
            <img src="../static/img/icon_whatsapp.png" alt="WhatsApp">
            <p><a href="tel:11123456789"></a>(11)12345-6789</p>
        </div>
        <div>
            <img src="../static/img/icon_gmail.png" alt="E-mail">
            <p><a href="mailto:agroshop@gmail.com"></a>agroshop@gmail.com</p>
        </div>
    </section>

    <footer>
        <a href="#topo">Voltar ao topo</a>
        <p>Desenvolvido por Grupo 21</p>
    </footer>
</body>

</html>